:root{
  --gradient: linear-gradient(
    45deg, #1abc9c, #2980b9, #1abc9c, #2980b9
  );
}

*{
    padding: 0;
    margin: 0;
    font-family: 'PT Sans', sans-serif;
    text-decoration: none;
  }
  
  header{
    width: 100%
  }
  
  header h1{
    display: block;
    width: 30%;
    font-size: 50px;
    margin-top: 40px;
    margin-left:  50px;
    color: black;
  }
  
  header h1:hover{
    color: #16a085;
    transition: 0.25s;
  }
  
  header nav{
    display: flex;
    position: relative;
    float: right;
    margin-right: 40px;
    margin-top: -52px;
  }
  
  header nav a{
    color: white;
    display: inline-block;
    font-size: 17px;
    text-align: center;
    width: 120px;
    padding: 10px;
    margin-right: 30px;
    border-radius: 20px;
    border: 2px solid #16a085;
    background: #16a085;
  }
  
  header nav a:hover{
    color: #16a085;
    background: white;
    transition: 0.25s;
  }
  .content{
    margin-top: 50px;
  }
    img{
    width: 50%;
    display: inline-block;
  }

  .droite{
    width: 50%;
    float: right;
  }
  
  .droite h1{
    font-size: 60px;
    margin-top: 20px;
  }

  .droite p{
    color: #7c7c7c;
    font-size: 20px;
    margin-top: 20px;
  }

  .mail{
    margin-top: 50px;
  }
  .mail a{
   font-size: 70px;
   color: #16a085;
   margin-left: 300px;
  }

  .mail a:hover{
    color:#13836e ;
    transition: 0.2s;
  }
  footer{
    margin-top: 10px;
    display: block;
    width: 100%;
    position: absolute;
    bottom: 0;
  }
  
  footer a{
    display: block;
    float: right;
    margin-right: 20px;
    color: black;
    margin-top: 5px;
  }
  
  footer span:hover{
    border-bottom: 2px solid black;
    transition: 0.2s;
  
  }
  
  footer p{
    display: inline-block;
    margin-left: 25%;
    margin-top: -10px;
  }
  
  footer h2{
    display: inline-block;
    margin-left: 20px;
  }
  
  
  